@import "mixin";

.about {
  position: relative;
  margin-bottom: 48px;

  .rectangle {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-60%) rotate(30deg);
    width: 60px;
    height: 60px;
  }

  button {
    margin: 24px 0 48px;
  }

  img {
    width: 100%;

    @include tablet-portrait {
      width: 61%;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @include tablet-portrait {
    margin-top: 48px;
  }
}
