footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 133px;

  .socials {
    display: flex;
    justify-content: space-between;

    a {
      margin: 0 8px;
    }
  }

  div:last-child {
    font-size: 10px;
    line-height: 11px;
    color: var(--text-color);
    opacity: .5;
    margin: 59px 18px 49px;
  }
}
