@import "vars";

@mixin button-variant($bg-color, $border-color, $text-color, $hover-color: var(--primary-color)) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    border-color: $text-color;
    color: $hover-color;
  }
}

@mixin tablet-portrait() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
