$font-family-base: Raleway, Helvetica, sans-serif;
$button-border-radius: 6px;

:root {
  --white-color: #FFF;
  --primary-color: #E84951;
  --button-primary-color: linear-gradient(306.93deg, #E84951 0%, #798DF6 100%);
}
