@import "vars";
@import "mixin";

* {
  box-sizing: border-box;
}

body, html {
  font-family: $font-family-base;
  overflow-x: hidden;
  width: 100vw;
}

button {
  padding: 10px 20px;
  border-radius: $button-border-radius;
  font-size: 14px;
  cursor: pointer;
  transition: .3s ease-in-out;


  @include button-variant(transparent, var(--white-color), var(--white-color));

  &.primary {

    @include button-variant(transparent, var(--primary-color), var(--primary-color), var(--white-color));
  }

  &.full {
    width: 100%;

    @include tablet-portrait {
      width: auto;
    }
  }

  @include tablet-portrait {
    width: auto;
    padding: 10px 60px;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

