@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

h3 {
  font-size: 16px;
  color: var(--text-color);
  opacity: .5;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

h4 {
  font-size: 24px;
  color: var(--text-color);
  line-height: 33px;
  margin: 24px 0;
}

p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
}
