@import "../mixin";

.cases {
  display: flex;
  flex-direction: column;
  position: relative;

  .rectangle {
    position: absolute;
    right: -40px;
    top: -50px;

    @include tablet-landscape {
      right: -20px;
    }
  }

  .list {
    position: relative;
    margin: 0 -10px;
  }

  .case {
    position: relative;
    border-radius: 6px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > button {

      @include tablet-portrait {
        align-self: flex-start;
      }
    }

    .photo {

      .img {
        position: relative;
        width: 100%;
      }

      .shape {
        position: absolute;
        left: -42px;
        bottom: -14px;
        display: none;

        @include tablet-portrait {
          display: block;
        }
      }
    }

    @include tablet-portrait {
      padding-left: 50%;
      position: relative;

      > .photo {
        position: absolute;
        width: calc(50% - 16px);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    @include tablet-landscape {
      padding-left: 62%;
    }
  }
}

