@import "../mixin";

header {
  background-position: 0 -100px;

  .content {
    align-items: flex-start;

    @include tablet-landscape {
      padding: 0 87px;
    }

    @include desktop {
      padding: 0;
    }

    h2 {
      text-align: left;
    }
  }

  @include tablet-portrait() {
    background-image: url("../../src/assets/img/bg-ipad.svg");
    background-position: top right;
    background-size: auto auto;
    position: relative;
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    h1 {
      color: var(--text-color);
      font-size: 72px;
      line-height: 98px;
      font-weight: normal;
    }

    h2 {
      color: var(--text-color);
      opacity: .5;
    }

    button {
      padding: 10px 30px;
    }
  }
}


