@import "../mixin";

@include tablet-portrait() {
  nav {
    justify-content: space-between;
  }
}

@include desktop() {
  nav {
    justify-content: center;

    ul li {
      a {
        color: var(--text-color);
        opacity: .5;
      }
    }
  }
}
