@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');
@import "assets/scss/vars";
@import "assets/scss/mixin";
@import "assets/scss/nav";
@import "assets/scss/header";
@import "assets/scss/about";
@import "assets/scss/cases";

body {
  font-family: $font-family-base;
}

button {
  padding: 10px 20px;
  border-radius: $button-border-radius;
  font-size: 14px;
  cursor: pointer;
  transition: .3s ease-in-out;

  @include button-variant(transparent, var(--white-color), var(--white-color));

  &.primary {

    @include button-variant(transparent, var(--primary-color), var(--primary-color), var(--white-color));
  }

  &.full {
    width: 100%;
  }
}

h3 {
  font-size: 16px;
  color: var(--text-color);
  opacity: .5;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 24px;
  color: var(--text-color);
  line-height: 33px;
  margin: 24px 0;
}

p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
}

.container {
  padding: 0 16px;
}


